--- 

- name: Copy hosts with ips
  become: true
  template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: u=rw,g=r,o=r


- name: Add masters hosts lines
  become: true
  lineinfile:
    path: /etc/hosts
    line: "{{ masters_ip_start | ipmath(idx) + ' ' + item  }}"
  loop: "{{ groups['master'] }}"
  tags: test
  loop_control:
    index_var: idx 


- name: Create terraform directory
  file:
    path: "{{ tf_dir }}"
    state: directory


- name: Template a file, using symbolic modes (equivalent to 0644)
  template:
    src: variables.j2
    dest: "{{ tf_dir }}/variables.tfvars"
    mode: u=rw,g=r,o=r

- name: Copy terraform script to terraform inventory
  copy:
    src: main.tf 
    dest: "{{ tf_dir }}"

- name: Create vms using terraform
  command: chdir=/tmp/tf terraform init

- name: Create vms using terraform
  command: chdir="{{ tf_dir }}" terraform apply -var-file="variables.tfvars" -auto-approve
  environment:
    PM_USER: "{{ proxmox_user }}"
    PM_PASS: "{{ proxmox_password }}"

